.center{
  text-align: center;
}
.textBlue{
  color: blue;
}
.textRed{
  color: red;
}
.textGreen{
  color: Green;
}
.fontSmall{
  font-size: small;
}
.fontBig{
  font-size: xx-large;
}
.fontBald{
  font-weight: bold;
}
.changeFont{
  font-family: "Lucida Console", Courier, monospace;
}
.multiArg{
  color: orangered;
  font-size: xx-large;
  font-weight: bold;
}
.styledFont{
  color: palevioletred;
  font-size: xx-large;
  font-weight: bold;
}
#styledImage{
  border: 4rem;
  border-color: pink;
  border-width: 20px;
  border-style: solid;
}